@model APT_ArchV03.Models.Caw

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Caw</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.caw_name)
        </dt>

        <dd class="form-horizontal">
            @Html.DisplayFor(model => model.caw_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caw_client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caw_client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CawJobs)
        </dt>

        <dd>
            @Html.ListBox("LstCawJobs", ViewData["LstCawJobs"] as SelectListItem[], htmlAttributes: new { @class = "form-control" })
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.caw_partner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caw_partner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caw_manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caw_manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caw_office)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caw_office)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caw_stdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caw_stdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caw_reldate)
        </dt>

        <dd>
            @Html.EditorFor(model => model.caw_reldate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.caw_reldate, "", new { @class = "text-danger" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caw_dldate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caw_dldate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caw_archdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caw_archdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caw_fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caw_fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caw_notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caw_notes)
        </dd>





    </dl>

    @Html.Partial("_Upload")

    <h2>@ViewBag.Msg</h2>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.caw_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
