@model APT_ArchV03.Models.Caw
@using APT_ArchV03.Models
@Styles.Render("~/Content/jQuery-File-Upload")
@Styles.Render("~/Content/caw")

@{
    ViewBag.Title = Model.caw_name.ToString() + " Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@Model.caw_name@*.Replace(Model.caw_name, Model.caw_name.Substring(0,5) + "...")*@</h2>

<div>
    <h4 style="display: inline-flex;">Details</h4>
    <span id="statusflag" style="display: inline-flex;" class="pull-right @(Model.caw_status == 1 ? "stage stage1" : (Model.caw_status == 2 ? "stage stage2" : "stage stage3") )"></span>
    <hr />
    <div id="accordion">
        <h4>Opening information</h4>
        <div>
            <ul class="list-group borderless">
                <dl class="dl-horizontal">
                    <li class="list-group-item">
                    <dt>
                        @Html.DisplayNameFor(model => model.caw_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.caw_name)
                    </dd>
                    </li>
                    <li class="list-group-item">
                    <dt>
                        @Html.DisplayNameFor(model => model.caw_client)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.caw_client)
                    </dd>
                    </li>
                    <li class="list-group-item">

                    <dt>
                        @Html.DisplayNameFor(model => model.CawJobs)

                    </dt>

                    @foreach (var item in Model.CawJobs)
                    {
                        <dd>@item.cawjob_jc - @item.cawjob_jn</dd>
                    }

                    </li>

                    <li class="list-group-item">
                    <dt>
                        @Html.DisplayNameFor(model => model.caw_partner)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.caw_partner)
                    </dd>
                    </li>

                    <li class="list-group-item">
                    <dt>
                        @Html.DisplayNameFor(model => model.caw_manager)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.caw_manager)
                    </dd>
                    </li>

                    <li class="list-group-item">
                    <dt>
                        @Html.DisplayNameFor(model => model.caw_office)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.caw_office)
                    </dd>
                    </li>

                    <li class="list-group-item">
                    <dt>
                        @Html.DisplayNameFor(model => model.caw_stdate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.caw_stdate)
                    </dd>
                    </li>

                    <li class="list-group-item">
                    <dt>
                        @Html.DisplayNameFor(model => model.caw_notes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.caw_notes)
                    </dd>
                    </li>

                    @*
                        <dd>
                            @Html.DisplayFor(model => model.caw_usrcreator)
                            @Html.ListBox("LstCawJobs", ViewData["LstCawJobs"] as SelectListItem[], htmlAttributes: new { @class = "form-control" })
                            @Html.ListBox("LstCawJobs1", ViewData["LstCawJobs1"] as SelectListItem[], htmlAttributes: new { @class = "form-control" })
                        </dd>*@

                </dl>
            </ul>
        </div>
        <h4>Reporting information</h4>
        <div>
            <ul class="list-group borderless">
                <dl class="dl-horizontal">

                    <li class="list-group-item">
                    <dt style="@(Model.caw_status ==1 ? "padding-top: 6px;" : "" )">
                        @Html.DisplayNameFor(model => model.caw_reldate)
                    </dt>
                    <dd>
                        @if (Model.caw_status == 1)
                        {
                            @Html.EditorFor(model => model.caw_reldate, new { htmlAttributes = new { @class = "form-control", required = "required", title = "Report date is required" } })
                            @Html.ValidationMessageFor(model => model.caw_reldate, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.caw_reldate);
                        }

                    </dd>

                    </li>
                </dl>
            </ul>
            <button id="btnToPhase2" class="btn btn-default pull-right" @(Model.caw_status == 1 ? "" : "disabled")>Submit</button>

        </div>
        <h4>Closing information</h4>
        <div>
            @if (Model.caw_status == 2)
            {
                <script>
                    var $form = null;
                    $(function () {

                        $form = $('#fileupload').fileupload({
                            dataType: 'json'
                        });

                    });
                    $('#fileupload').addClass('fileupload-processing');
                </script>

                <ul class="list-group borderless">
                    <dl class="dl-horizontal">

                        <li class="list-group-item">
                        <dt>
                            @Html.DisplayNameFor(model => model.caw_dldate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.caw_dldate)
                        </dd>
                        </li>

                        <li class="list-group-item">
                        <dt style="padding-top: 6px;">
                            @Html.DisplayNameFor(model => model.caw_archdate)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.caw_archdate, new { htmlAttributes = new { @class = "form-control", required = "required", title = "Archiving date is required" } })
                            @Html.ValidationMessageFor(model => model.caw_archdate, "", new { @class = "text-danger" })
                        </dd>
                        </li>
                    </dl>
                </ul>
                <hr />


                @Html.Partial("_Files")
                <button id="btnArchive" class="btn btn-default pull-right" disabled>Archive</button>
            }
            @if (Model.caw_status == 1)
            {
                <p class="text-danger">Current APT stage prevents to show any value on this section.</p>
            }
            @if (Model.caw_status == 3)
            {
                @*@Html.Partial("_Show")*@
                <h3>Uploaded Files</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="icon-groove"></span>
                        </div>
                        <div class="col-md-10">
                            @*<script>
                                    $(document).ready(function () {
                                        setTimeout(disableaccordion, 3000)
                                    });
                                    function disableaccordion() {
                                        $('#accordion').accordion("disable");
                                    }
                                </script>*@
                            @*@Html.DisplayFor(model => model.caw_fname)*@
                        </div>

                    </div>

                </div>
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.caw_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<script>



    $(document).ready(function () {


        $('#accordion').accordion({
            header: "h4",
            icons: { "header": "ui-icon-caret-1-s", "activeHeader": "ui-icon-caret-1-n" },
            heightStyle: "content",
            active: @Model.caw_status
        });

        $(document).on('click', '#btnToPhase2', function () {

            $.ajax({
                type: 'POST',
                //contentType: "application/json",
                //processData: false,
                url: '/Caws/PostReportDate',

                dataType: 'json',

                data: {
                    id: @Model.caw_id,
                    reldate: $('#caw_reldate').val()
                },


                success: function (response) {

                    //$('#btnToPhase2').addClass("disabled");
                    //$('#caw_reldate').attr("disabled", "disabled")
                    //$('#statusflag').removeClass('stage1').addClass('stage2');
                    //$('#accordion').accordion({ active: 3 });
                    alert(response.responseText);
                    location.reload();

                },
                error: function (response) {
                    alert('There was a problem when trying to submit the report date. ' + response.responseText);
                }
            });

        });



    });
    //$(document).on('click', 'button.btn.start', function () {
     //   console.log("File uploaded no bind");
        //$('#btnArchive').removeAttr("disabled");

    //});
</script>


@Scripts.Render("~/bundles/jQuery-File-Upload")