@model IEnumerable<APT_ArchV03.Models.Caw>

@{
    ViewBag.Title = "My caws";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/cawscripts")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @Styles.Render("~/Content/caw")

}

<div class="nav navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <img src="~/Content/img/logo.png" class="logo" title="title" alt="additional title" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="inserisci">@Html.ActionLink("INSERISCI CAW", "Create")</li>
            </ul>
        </div>
    </div>
</div>







<div class="container nopadding">

    

    <div id="btn-container" class="row">      
        <button id="btnclearfilters" class="disabled pull-right btn btn-link">Clear</button>
        <button id="btnpopupfilters" class="pull-right btn btn-primary">Filter</button>

    </div>

    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                    <h4 class="modal-title">Filters</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <form>
                        <div class="form-group">
                            @Html.Label("Year", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("lstYear", ViewData["lstYear"] as SelectListItem[], "--Select year--", htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Client", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.DropDownList("lstClient", ViewData["lstClient"] as SelectListItem[], "--Select client--", htmlAttributes: new { @class = "form-control" })
                                                                
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Job", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("lstJob", ViewData["lstJob"] as SelectListItem[], "--Select client--", htmlAttributes: new { @class = "form-control" })
                                
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Partner", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("lstPartner", ViewData["lstPartner"] as SelectListItem[], "--Select partner--", htmlAttributes: new { @class = "form-control" })
                                
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Manager", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("lstManager", ViewData["lstManager"] as SelectListItem[], "--Select manager--", htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Office", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("lstOffice", ViewData["lstOffice"] as SelectListItem[], "--Select office--", htmlAttributes: new { @class = "form-control" })
                                
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("lstStatus", ViewData["lstStatus"] as SelectListItem[], "--Select status--", htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnApplyfilter" class="btn btn-primary button button4">Apply</button>

                    <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="table-responsive tblcaws">
    <table class="table table-hover">
        <thead>
            <tr class="intestazionetabella">
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.caw_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.caw_client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.caw_partner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.caw_manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.caw_office)
                </th>
                <th>
                    Year
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class='clickable-row' data-href='@Url.Action("Details", new { id = item.caw_id })'>

                    <td id="tbldtcawname">

                        @Html.DisplayFor(modelItem => item.caw_name)
                    </td>
                    <td id="tbldtcawclient">
                        @Html.DisplayFor(modelItem => item.caw_client)
                    </td>
                    <td id="tbldtcawpartner">
                        @Html.DisplayFor(modelItem => item.caw_partner)
                    </td>
                    <td id="tbldtcawmanager">
                        @Html.DisplayFor(modelItem => item.caw_manager)
                    </td>
                    <td id="tbldtcawoffice">
                        @Html.DisplayFor(modelItem => item.caw_office)
                    </td>
                    <td id="tbldtcawyear">                        
                        @Html.Raw(item.caw_stdate.Value.Year.ToString())
                    </td>

                    <td id="tbldtcawstatus">

                        <div class="@(item.caw_status == 1 ? "stage stage1" : ( item.caw_status == 2 ? "stage stage2" : "stage stage3" ) )"></div>

                    </td>


                </tr>

            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //$('.clickable-row').on("click", function () {
        //    debugger;
        //    window.location = $(this).data("href");
        //});

        $("#btnpopupfilters").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });

        $("#inputPartnerName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("CompletePartner")',
                    datatype: "json",
                    type: "POST",
                    data: {
                        Prefix: request.term
                    },

                    success: function (data) {
                        console.log("Data : " + data);
                        response($.map(data, function (val, item) {
                            console.log("Data : " + val.Partner_Gestore);
                            console.log("item : " + item.Partner_Gestore);
                            return {
                                label: val.Partner_Gestore,
                                value: val.Partner_Gestore
                            }
                        }))
                    }
                })
            },
            delay: 300,
            minLength: 1,
            select: function (event, ui) {
                $("#inputPartnerName").val(ui.item.Partner_Gestore);
            }
        });



    });

    function AjaxFilter(year, client, job, partner, manager, office, status ) {
        console.log("Filtering");


        $.ajax({
            type: 'POST',
            url: '/Caws/ApplyFilter',

            dataType: 'json',

            data: {
                year: year,
                client: client,
                job: job,
                partner: partner,
                manager: manager,
                office: office,
                status: status

            },


            success: function (elements) {


                $.each(elements, function (i, element) {
                    console.log("element V: " + element.CawName);
                    console.log("element T: " + element.Client);
                    console.log("element T: " + element.Partner);
                    $('table tbody').append(
                        '<tr class="clickable-row" data-href="/Caws/Details/' + element.CawID + '">' +
                        '<td id="tbldtcawname">' + element.CawName + '</td>' +
                        '<td id="tbldtcawclient">' + element.Client + '</td>' +
                        '<td id="tbldtcawpartner">' + element.Partner + '</td>' +
                        '<td id="tbldtcawmanager">' + element.Manager + '</td>' +
                        '<td id="tbldtcawoffice">' + element.Office + '</td>' +
                        '<td id="tbldtcawyear">' + element.Year + '</td>' +
                        '<td id="tbldtcawyear">' + '<div class="stage stage' + element.Status + '"></div></td>' +
                        '</tr>');

                });
            },
            error: function (ex) {
                alert('Failed to retrieve elements.' + ex);
            }
        });

    }
    $(document).on('click', '#btnApplyfilter', function () {
        $('table tbody').empty();
        $("#loginModal").modal('hide');
        var year = $('#lstYear option:selected').val();
        var client = $('#lstClient option:selected').val();
        var job = $('#lstJob option:selected').val();
        var partner = $('#lstPartner option:selected').val();
        var manager = $('#lstManager option:selected').val();
        var office = $('#lstOffice option:selected').val();
        var status = $('#lstStatus option:selected').val();
        AjaxFilter(year, client, job, partner, manager, office, status);
        $('#btnclearfilters').removeClass('disabled');

    });
    $(document).on('click', '#btnclearfilters', function () {
        $('table tbody').empty();
        $('.modal-dialog .modal-content select').val($('.modal-dialog .modal-content select option:first').val());
        AjaxFilter();
        $('#btnclearfilters').addClass('disabled');
    });

    $(document).on("click", '.clickable-row', function () {
        //debugger;
        window.location = $(this).data("href");
    });
</script>
<style>
    .clickable-row:hover {
        cursor: pointer;
    }

    tr > td {
        white-space: nowrap;
    }

    @@media only screen and (max-width: 992px) {
        .tblcaws {
            overflow-x: scroll;
        }
    }
</style>
