@model IEnumerable<APT_ArchV03.Models.Caw>

@{
    ViewBag.Title = "My caws";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/cawscripts")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.min.js")
    @Styles.Render("~/Content/cssjqryUi")
    @Styles.Render("~/Content/DataTables/css/jquery.dataTables.min.css")
    @Styles.Render("~/Content/DataTables/css/dataTables.bootstrap.css")
    @Styles.Render("~/Content/caw")

}


<div class="container nopadding">



    <div id="btn-container" class="row">
        @*<button id="btnclearfilters" class="disabled pull-right btn btn-link">Clear</button>
            <button id="btnpopupfilters" class="pull-right btn btn-primary">Filter</button>*@
        <div id="block-filter">
            <button id="btnclearfilters" class="disabled pull-right btn btn-link"><span class="glyphicon glyphicon-remove"></span></button>
            <div class="filter-title">
                <span>Filters</span>
            </div>
            @*<button class="filter-title btn btn-link">Filters</button>*@
            <div data-role="content" class="filter-content">
                <div class="filter-content-container">
                    <div class="form-group col-md-6">
                        @Html.Label("Year", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownList("lstYear", ViewData["lstYear"] as SelectListItem[], "--Select year--", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Client", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownList("lstClient", ViewData["lstClient"] as SelectListItem[], "--Select client--", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Job", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownList("lstJob", ViewData["lstJob"] as SelectListItem[], "--Select client--", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Partner", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownList("lstPartner", ViewData["lstPartner"] as SelectListItem[], "--Select partner--", htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Manager", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownList("lstManager", ViewData["lstManager"] as SelectListItem[], "--Select manager--", htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Office", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownList("lstOffice", ViewData["lstOffice"] as SelectListItem[], "--Select office--", htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.DropDownList("lstStatus", ViewData["lstStatus"] as SelectListItem[], "--Select status--", htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group col-md-10 pull-right">
                        <button id="btnclearfilters" class="disabled pull-right btn btn-link">Clear</button>
                        <button type="submit" id="btnApplyfilter" class="pull-right btn btn-link">Apply</button>
                    </div>
                </div>

            </div>
        </div>


    </div>



</div>
<div class="table-responsive tblcaws">
    <table id="CAWList" class="table table-hover">
        <thead>
            <tr class="intestazionetabella">
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.caw_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.caw_client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.caw_partner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.caw_manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.caw_office)
                </th>
                <th>
                    Year
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class='clickable-row' data-href='@Url.Action("Details", new { id = item.caw_id })'>

                    <td id="tbldtcawname">

                        @Html.DisplayFor(modelItem => item.caw_name)
                    </td>
                    <td id="tbldtcawclient">
                        @Html.DisplayFor(modelItem => item.caw_client)
                    </td>
                    <td id="tbldtcawpartner">
                        @Html.DisplayFor(modelItem => item.caw_partner)
                    </td>
                    <td id="tbldtcawmanager">
                        @Html.DisplayFor(modelItem => item.caw_manager)
                    </td>
                    <td id="tbldtcawoffice">
                        @Html.DisplayFor(modelItem => item.caw_office)
                    </td>
                    <td id="tbldtcawyear">
                        @Html.Raw(item.caw_stdate.Value.Year.ToString())
                    </td>

                    <td id="tbldtcawstatus">

                        <span class="stage @(item.caw_status == 1 ? "stage1" : ( item.caw_status == 2 ? "stage2" : ( item.caw_status == 3 ? "stage3" : ( item.caw_status == 4 ? "stage4" : "stage0" ) ) ) )" data-toggle="tooltip" title="@(item.caw_status == 1 ? "Opened" : (item.caw_status == 2 ? "Reporting" : (item.caw_status == 3 ? "Archived" : (item.caw_status == 4 ? "Delayed" : "Unknown" ) )) )"></span>

                    </td>


                </tr>

            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#CAWList').DataTable();
        $('#block-filter').accordion({
            header: ".filter-title",
            collapsible: true,
            active: false,
            icons: { "header": "ui-icon-caret-1-s", "activeHeader": "ui-icon-caret-1-n" },
            heightStyle: "content"
        });
        $(window).on('resize', function () {
            $('.filter-content').css('width', $('.body-content').innerWidth());
        });
        $('.filter-content').css('width', $('.body-content').innerWidth());

        //$('.clickable-row').on("click", function () {
        //    debugger;
        //    window.location = $(this).data("href");
        //});

        $("#btnpopupfilters").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });

        $("#inputPartnerName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("CompletePartner")',
                    datatype: "json",
                    type: "POST",
                    data: {
                        Prefix: request.term
                    },

                    success: function (data) {
                        //console.log("Data : " + data);
                        response($.map(data, function (val, item) {
                            //console.log("Data : " + val.Partner_Gestore);
                            //console.log("item : " + item.Partner_Gestore);
                            return {
                                label: val.Partner_Gestore,
                                value: val.Partner_Gestore
                            }
                        }))
                    }
                })
            },
            delay: 300,
            minLength: 1,
            select: function (event, ui) {
                $("#inputPartnerName").val(ui.item.Partner_Gestore);
            }
        });



    });

    function AjaxFilter(year, client, job, partner, manager, office, status ) {
        //console.log("Filtering");


        $.ajax({
            type: 'POST',
            url: '/Caws/ApplyFilter',

            dataType: 'json',

            data: {
                year: year,
                client: client,
                job: job,
                partner: partner,
                manager: manager,
                office: office,
                status: status

            },


            success: function (elements) {


                $.each(elements, function (i, element) {
                    //console.log("element V: " + element.CawName);
                    //console.log("element T: " + element.Client);
                    //console.log("element T: " + element.Partner);
                    $('table tbody').append(
                        '<tr class="clickable-row" data-href="/Caws/Details/' + element.CawID + '">' +
                        '<td id="tbldtcawname">' + element.CawName + '</td>' +
                        '<td id="tbldtcawclient">' + element.Client + '</td>' +
                        '<td id="tbldtcawpartner">' + element.Partner + '</td>' +
                        '<td id="tbldtcawmanager">' + element.Manager + '</td>' +
                        '<td id="tbldtcawoffice">' + element.Office + '</td>' +
                        '<td id="tbldtcawyear">' + element.Year + '</td>' +
                        '<td id="tbldtcawyear">' + '<div class="stage stage' + element.Status + '"></div></td>' +
                        '</tr>');

                });
            },
            error: function (ex) {
                alert('Failed to retrieve elements.' + ex);
            }
        });

    }
    $(document).on('click', '#btnApplyfilter', function () {
        $('#block-filter').accordion("option", "active", false);
        $('table tbody').empty();
        //$("#loginModal").modal('hide');
        var year = $('#lstYear option:selected').val();
        var client = $('#lstClient option:selected').val();
        var job = $('#lstJob option:selected').val();
        var partner = $('#lstPartner option:selected').val();
        var manager = $('#lstManager option:selected').val();
        var office = $('#lstOffice option:selected').val();
        var status = $('#lstStatus option:selected').val();
        AjaxFilter(year, client, job, partner, manager, office, status);
        $('#btnclearfilters').removeClass('disabled');

    });
    $(document).on('click', '#btnclearfilters', function () {
        $('#block-filter').accordion("option", "active", false);
        $('table tbody').empty();
        $('#block-filter .filter-content select').val($('#block-filter .filter-content select option:first').val());
        AjaxFilter();
        $('#btnclearfilters').addClass('disabled');
    });

    $(document).on("click", '.clickable-row', function () {
        //debugger;
        window.location = $(this).data("href");
    });
</script>
<style>
    .clickable-row:hover {
        cursor: pointer;
    }

    tr > td {
        white-space: nowrap;
    }

    @@media only screen and (max-width: 992px) {
        .tblcaws {
            overflow-x: scroll;
        }
    }
</style>
